<header id="main-header">
    <h1><a href="/posts">MyBlog</a></h1>     
    <nav>
        <ul>
            <li><a href="/posts">All Posts</a></li>
            <li><a href="/create-post">Create Post</a></li>
            <li><a href="/authors">All Authors</a></li>
            <!-- <li><a href="/authors/add">Create Author</a></li> -->
        </ul>
    </nav>
</header>