#create-post {
width: 40%;
margin: 2rem auto;
padding: 1rem;
border-radius: 6px;
box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5)}

#create-post h2 {
    text-align: center;
    margin: 0;
}

#create-post label{
    display: block;
    margin: 8px 0 2px 0 ;
}

#create-post input {
    width: 98%;
    height: 1.5rem;
}

#create-post textarea{
    width: 98%;
}

#create-post select {
    width: 99%;
    margin-bottom: 0.5rem;
}

.add-author {
    /* margin: 1rem; */
    text-decoration: none;
    color: inherit;
    transition: 0.3;
}
.add-author:hover {
    color: rgb(5, 4, 65);
    font-weight: bold;
}

#btn-area {
    text-align: right;
    margin: 2rem 5px 10px 0;
}


#btn-area a {
    text-decoration: none;
    color:inherit;
    font-size: 1rem;
    padding: 5px 15px;
}

#btn-area a:hover {
    border-radius: 4px;
    background-color: rgb(250, 208, 208);
}

#btn-area button {
    border: none;
    color: white;
    background-color: rgb(5, 4, 65);
    border-radius: 4px;
    font-size: 1rem;
    padding: 5px 15px;
}

#btn-area button:hover {
    background-color: rgb(2, 112, 2);
}




